.clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.marksContainer{
  width:4.5rem;
  height:100vh;
  .header{
    color: #2b85e4;
    font-weight: 400;
    padding:0.2rem;
    .update{
      width:0.4rem;
      height:0.4rem;
      background: url("../img/icon/update.png") no-repeat ;
      background-size: 100% 100%;
      display: inline-block;
      float: right;
    }
    .freshBtn{
      margin-left: 0.1rem;
      color: #000;
    }
  }
  .box{
    width:100%;
    height:100%;
    .menu{
      padding:0.2rem 0.2rem;
      font-size: 0.28rem;
      color: #353333;
      font-weight:bold;
    }
    ul{
      padding:0.2rem;
      font-size: 0.3rem;
      li{
        height:5vh;
        line-height: 5vh;
        color: #646464;
        position: relative;
        .more{
          position: absolute;
          top:0;
          height:100%;
          width:1rem;
          background: url("../img/icon/more.png") no-repeat ;
          background-size: 0.3rem 0.4rem;
          background-position: center center ;
          right:0;
        }
      }
    }
  }
}