.marksContainer{
  width:4.5rem;
  height:100vh;
  .box{
    width:100%;
    height:100%;
    ul{
      padding:0.2rem;
      li{
        height:5vh;
        line-height: 5vh;
        color: #646464;
        //border-bottom: 1px solid #E5E5E5;
      }
    }
  }
}