.marksEditContainer{
  width:100%;
  overflow-x: hidden;
  ul{
    background-color: #fff;
    li{
      width:100%;
      height:1rem;
      line-height: 1rem;
      border-bottom:1px solid #e0e0e0;
      .content{
        padding-left: 0.2rem;
      }
      .editBox{
        float: right;
        .update{
          width:0.4rem;
          height:0.4rem;
          margin-top: 0.1rem;
          display: inline-block;
          margin-right: 0.4rem;
        }
        .delete{
          width:0.4rem;
          height:0.4rem;
          margin-top: 0.1rem;
          display: inline-block;
          margin-right: 0.2rem;
        }
      }
    }
  }


}