.clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.marksContainer{
  width:4.5rem;
  height:100vh;
  .header{
    color: #2b85e4;
    font-weight: 400;
    padding:0.2rem;
    .update{
      width:0.3rem;
      height:0.3rem;
      background: url("../../img/icon/update.png") no-repeat ;
      background-size: 100% 100%;
      display: inline-block;
      float: right;
    }
    .save{
      width:0.3rem;
      height:0.3rem;
      background: url("../../img/icon/save.png") no-repeat ;
      background-size: 100% 100%;
      display: inline-block;
      float: right;
    }
  }
  .box{
    width:100%;
    height:100%;
    .menu{
      padding:0.2rem 0.2rem;
      font-size: 0.14rem;
      color: #353333;
      font-weight:bold;
    }
    ul{
      padding:0.2rem;
      font-size: 0.3rem;
      li{
        height:5vh;
        line-height: 5vh;
        color: #646464;
      }
    }
  }
}