.plan-container{
  .planBox{
    height:calc(100vh - 130px);
    overflow-y: scroll;
  }
  background-color: #fff;
  .planList{
    padding:0.2rem;
    li{
      padding-top:0.2rem;
      border-bottom: 1px solid #e8e8e8;
      min-height: 0.9rem;
      font-size:0.3rem;
      .date{
        margin-top: 0.15rem;
        margin-bottom: 0.3rem;
        color: #868383;
        font-size:0.2rem;
        height:0.5rem;
        line-height: 0.5rem;
        span{
          padding:2px;
          background: #19be6b;
          color: #fff;
          border-radius: 2px;
          float: left;
          margin-right: 0.3rem;
        }
        .more{
          width:0.4rem;
          height:0.4rem;
          margin-right: 0.5rem;
        }
      }
      .eidtBox{
        padding-top:0.2rem;
        .update{
          width:0.4rem;
          height:0.4rem;
          display: inline-block;
          margin-right: 0.5rem;
        }
        .delete{
          width:0.4rem;
          height:0.4rem;
          display: inline-block;
          margin-right: 0.5rem;
        }
      }

    }
  }
  .addPlan{
    width:0.5rem;
    height:0.5rem;
  }
  .mint-navbar {
    height:50px;
    .mint-tab-item{
      padding: 9px 0!important;
      .mint-tab-item-label{
        line-height: 0.5rem;
        &:nth-of-type(3){
          line-height: 0;
        }
      }
    }
  }




  .save{
    width:6rem;
    margin-top: 0.5rem;
    margin-left: 0.75rem;
  }

  .addPlanContainer{
    margin-top: 0.1rem;
  }


}


.addPlanContainer{
  margin-top: 0.9rem;
  input,textarea{
    border:1px solid #dadada;
  }
  button{
    width:6rem;
    margin-top: 0.5rem;
    margin-left: 0.75rem;
  }

}



















