.plan-container{

  background-color: #fff;
  ul{
    padding:0.2rem;
    li{
      border-bottom: 1px solid #e8e8e8;
      min-height: 0.9rem;
      font-size:0.3rem;
      .date{
        margin-top: 0.3rem;
        color: #868383;
        font-size:0.2rem;
        span{
          float: right;
        }
      }

    }
  }


}