.recordContainer{
  background-color: #eee;
  min-height: 79vh;
  .recordList{
      padding:0.1rem 0;

      li{
        margin-bottom: 0.2rem;
        min-height: 0.9rem;
        font-size: 0.3rem;
        background-color: #fff;
        .move-content{
          padding: 0.2rem;
        }
        .eidtBox{
          float: right;
          .delete,.update{
            width: 0.4rem;
            height: 0.4rem;
            display: inline-block;
          }
          .update{
            margin-right: 0.3rem;
          }
        }
        .date{
          margin-top: 0.15rem;
          margin-bottom: 0.15rem;
          color: #868383;
          font-size: 0.25rem;
          span{
            padding:2px;
            color: #024886;
          }
        }
        .planInfo{
          color: darkgrey;
          font-size: 0.25rem;
          border-top: 1px solid #ececec;
          padding-top: 0.2rem;
          span{
            padding:2px;
            background: #19be6b;
            color: #fff;
            border-radius: 2px;
          }
        }

      }
  }
  .addRecordBox{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    >div{
      padding-top: 0.3rem;
      width:7rem;
      height:10rem;
      margin:0.8rem 0.2rem 0.2rem;
      background-color: #fff;
      .start{
        width: 20vw;
        height: 20vw;
        background-color: #00a0e9;
        border-radius: 20vw;
        color: #fff;
        line-height: 20vw;
        text-align: center;
      }
    }

    .time{
      font-size: 0.9rem;
      text-align: center;
      margin:20px 0;
      color: red;
    }
    .mint-cell-value{
      width:5rem;
      textarea,input{
        width:100%;
      }
    }
  }
  button{
    width: 6rem;
    margin-top: 0.5rem;
    margin-left: 0.75rem;
  }
}